In [415]:
# # This Python 3 environment comes with many helpful analytics libraries installed
# # It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# # For example, here's several helpful packages to load

# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# # Input data files are available in the read-only "../input/" directory
# # For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'): # /kaggle/input/titanic
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# # You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# # You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

**1 Import Libraries**

In [416]:
import numpy as np 
import pandas as pd
print("IMPORTED LIBRARIES")

IMPORTED LIBRARIES

**2 Load Data**

In [417]:
train = pd.read_csv("/kaggle/input/titanic/train.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")

print("Loaded Train And Test Model")

Loaded Train And Test Model

**3 Look At The Data**

In [418]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [419]:
train["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

**4 Keep Important Features**

In [420]:
features = ["Pclass", "Sex", "Age"]
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

**5 Convert Male And Female To Numeric Value** *Encoding***

In [421]:
train["Sex"] = train["Sex"].map({"male": 0, "female": 1})
test["Sex"] = test["Sex"].map({"male": 0, "female": 1})

test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,NaN,S

**6 Fill NA Values**

In [422]:
train["Age"] = train["Age"].fillna(train["Age"].median())
test["Age"] = test["Age"].fillna(test["Age"].median())

train["Pclass"] = train["Pclass"].fillna(train["Pclass"].median())
test["Pclass"] = test["Pclass"].fillna(test["Pclass"].median())

train["Fare"] = train["Fare"].fillna(train["Fare"].median())
test["Fare"] = test["Fare"].fillna(test["Fare"].median())

print("HANDLED AGE NULL VALUES")

HANDLED AGE NULL VALUES

**7 Load X AND Y which is Input And Output**

In [423]:
X = train[features]
Y = train["Survived"]

print("LOAD X AND Y")

LOAD X AND Y

**8 Create A Logistic Regression Model**

In [424]:
from sklearn.linear_model import LogisticRegression , BayesianRidge
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

# model = LogisticRegression()
# model = BayesianRidge()
# model = GaussianNB()
model = DecisionTreeClassifier()
model.fit(X,Y)

print("MODEL TRAINEDD")

MODEL TRAINEDD

**9 Make Predictions**

In [425]:
X_test = test[features]
predictions = model.predict(X_test)

**10 Create CSV For Predictions**

In [426]:
submission = pd.DataFrame(
    {
        "PassengerId":test["PassengerId"],
        # "Sex":train["Sex"],
        "Survived": predictions
    }
)

submission.to_csv("Bayesian-Ridge-submission-test-1.csv",index = False)

In [427]:
df = pd.read_csv("/kaggle/input/other-models-csv/Bayesian-Ridge-submission-1.csv")

print("ACTUAL SEX DATA\n")
print(train.groupby("Sex")["Survived"].mean())

# Male -> 0
# Female -> 1
print("\nPREDICTED SEX DATA")
print(df.groupby("Sex")["Survived"].mean())

ACTUAL SEX DATA

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

PREDICTED SEX DATA
Sex
0    0.190712
1    0.738723
Name: Survived, dtype: float64